body{

	background:url(http://www.bz55.com/uploads/allimg/150604/139-150604162F5.jpg);

       padding: 0;

       margin: 0;

}

.clearfix::after{

	content: "";

	display: block;

	clear: both;

	width: 0;

	height:0;

}

#f{

	max-width: 1200px;

	min-width: 800px;

	margin: auto;

	

}

header,footer{

	border:1px solid #fff;

	margin: 1% 0;

	height: 120px;

	border:1px solid #fff;

	text-align: center;

}

aside,main{

    border:1px solid #fff;

}

section,aside,main{

	min-height: 500px;

}

aside{

	width: 20%;

	margin-right: 0.5%;

	float: left;

}

main{

	width: 79%;

	float: right;

}

section aside div{

	width:80px;

	height:30px;

	border: 1px solid #233;

	background-color: #fff;

	margin:20px;

	padding:10px;

	text-align: center;

}

section a{

	text-decoration: none;

}

section aside div:hover{

	width:80px;

	height:30px;

	border: 1px solid #233;

	background-color: #000;

	margin:20px;

	padding:10px;

	text-align: center;

}