.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a{
	color: #FFFFFF;
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
}
body{
	color: #fff;
	background: url(../img/02.jpg) no-repeat fixed;
}
header{
	margin-top: 40px;
}
.body{
	max-width: 1200px;
	padding: 20px;
	margin: auto;
}
.logo{
	width: 80px;
}
header{
	position: relative;
}
.a{
	position: absolute;
	right: 0;
	top: 0;
}
.a li{
	float: right;
	margin: 20px 30px;
}
.a li a{
	padding: 20px;
	text-align: center;
	line-height: 60px;
	border: 1px solid rgba(0,0,0,0);
	transition: color .5s,border .5s;
}
.a li a:hover{
	color: #000;
	border: 1px solid #000;
}
p a{
	border-bottom: 1px dashed #fff;
	padding: 4px;
}
h1{
	margin: 50px 0;
}
.zxc li{
	float: left;
	display: inline-block;
	width: 160px;
	height: 48px;
	border: 1px solid #000;
	text-align: center;
	line-height: 48px;
	margin: 10px 20px 0 0;
	background: rgba(100, 100, 200, 0.6);
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0);
	transition: border-radius .5s,background .5s;
}
.zxc li:hover{
	border-radius: 0;
	background: rgba(100, 100, 200, 0.8);
}
.work{
	float: left;
	margin:calc(10%/6) calc(10%/3) 0 0;
	width: 30%;
	position: relative;
}
.xiangmu ul li img{
	width: 100%;
	-webkit-filter:grayscale(.5);
	transition: -wedkit-filter .5s;
}
.xiangmu ul li p{
	height: 30px;
	position: absolute;
	width: 100%;
	text-align: center;
	margin: auto;	
	top:calc(50% - 15px);
	z-index: 3;
	color: rgba(255,255,255,0);
	transition: color .5s;
}
.xiangmu ul li:hover img{
	-webkit-filter:grayscale(0) ;
}
.xiangmu ul li:hover p{
	color: rgba(255,255,255,1);
}
.contactContainer dl dt{
    padding:5px 20px;
    background-color: #fff;
    color: #000;
    display: inline-block;
}
.contactContainer dl dd{
    padding:5px 20px;
    background-color: #000;
    color: #fff;
    margin: 0px 30px 0px 0px;
    display: inline-block;
}
.contact input{
    width: 31%;
    margin: 5px 2% 5px 0px;
    padding: 10px 16px;
    border-radius: 3px;
    border: none;
    outline: none;
}
.contact select{
    width: 32%;
    padding: 10px 16px;
    border-radius: 3px;
    margin: 5px 0px 5px 4px;
}
.contact textarea,
.contact input[type="submit"]{
    width: 48%;
    height: 50px;
    padding: 10px 16px;
    border-radius: 3px;
    margin: 5px 3% 5px 0px;
    vertical-align: top;
}
.contact input[type="submit"]{
    margin: 5px 0px;
    border:none;
    outline: none;
    background-color: #00BFFF;
    cursor: pointer;
}
#goTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 0.8em;
    color: #fff;
}